@{
    ViewData["Title"] = "Admin";
}

<div class="card mx-auto p-3" style="width: 36rem;">
    <div class="card-body">
        <a asp-controller="Armario" asp-action="Index" class="btn btn-primary">
            Listar armários
        </a>
        <a asp-controller="Armario" asp-action="Criar" class="btn btn-primary">Criar armário</a>
    </div>
</div>