@{
    ViewData["Title"] = "Erro";
}

<div class="card mx-auto p-3" style="width: 40rem;">
    <div class="card-body">
        <h2 style="text-align: center;">@TempData["erro"].ToString()</h2>
    </div>
</div>