@model BeachSys.Models.Usuario

@{
    ViewData["Title"] = "Cadastrar";
}

<div class="card mx-auto p-3" style="width: 36rem;">
  <div class="card-body">
    <form method="post" asp-controller="Usuario" asp-action="Cadastrar">
      <div class="mb-3">
        <label asp-for="Nome" class="form-label"></label>
        <input asp-for="Nome" class="form-control">
        <span asp-validation-for="Nome" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label asp-for="CPF" class="form-label"></label>
        <input asp-for="CPF" class="form-control">
        <span asp-validation-for="CPF" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </div>
  <div class="card-footer text-center py-3">
    <div class="small">
        <a asp-controller="Usuario" asp-action="Login">Já possui uma conta? Fazer login</a>
    </div>
  </div>
</div>