@{
    ViewData["Title"] = "Usuario";
}

<div class="card mx-auto p-3" style="width: 36rem;">
    <div class="card-body">
        <a asp-controller="Armario" asp-action="Index" class="btn btn-primary">Listar armários</a>
    </div>
</div>